*{
    box-sizing: border-box;
    margin:0 auto;
    padding: 0;
    font:14px arial ;
}
.clearfix{
    clear: both;
}
.wrapper, .full-container, .container{
    margin:0 auto;
    overflow: auto;
    position: relative;
}
.wrapper{
    width: 1120px;
}
.full-container{
    width: 100%;
}
.container{
    width: 940px;
}
.col-1-4, .col-1-3{
    position: relative;
    float: left;
}
.col-1-4{
    width: calc(100%/4);
}
.col-1-3{
    width: calc(100%/3);
}
.logo, .menu{
    float: left;
    height: 65px;
}
.logo{
    width: 200px;
}
.menu{
    width: 920px;
}
.banner{
    height: 420px;
}
.product{
    margin-top: 10px;
}
.product .col-1-4{
    height: 180px;
}
.about{
    margin-top: 10px;
}
.about .title{
    text-transform: uppercase;
    font-size: 2.5rem;
    padding:15px 0 15px 0;
}
.about .col-1-3{
    height: 300px;
}
.footer{
    background-color: #ff0;
    margin-top: 40px;
}
.footer .col-1-3{

}
.logo, .menu{
    float: left;
    height: 65px;
}
.logo{
    width: 200px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
}
.menu{
    width: 920px;
}
.menu ul{
    text-align: center;
    margin-top: 20px;
    padding-left: 200px;
}
.menu li{
    list-style: none;
    display: inline-table;
    padding:2px 20px 2px 20px;
}
.menu a{
    color:#646464;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.banner{
    height: 420px;
    background-image: url(../images/banner.png);
    background-position: center center;
    background-size: cover;
}
.product{
    margin-top: 10px;
}
.product .col-1-4{
    height: 180px;
}
.product-image{
    width: 100%;
    height: 185px;
}
.product-title{
    position: absolute;
    left:0;
    right: 0;
    bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #000;
}
.about{
    margin-top: 10px;
}
.about .title{
    text-transform: uppercase;
    font-size: 2.5rem;
    padding:15px 0 15px 0;
}
.about .col-1-3{
    height: 300px;
}
.about .col-1-3::before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background-color: rgba(64,64,64,0.5);
}
.about-image{
    width: 100%;
    height: 300px;
}
.about-title{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #fff;
}
.footer{
    background-color: #ff0;
    margin:40px 0 0 0;
}
.footer ul{
    margin: 10px 0 10px 0;
    padding:20px 5px 20px 0;
}
.footer li{
    list-style: none;
    line-height: 20px;
}
.footer a{
    font-weight: bold;
}
a{
    color: #000;
    text-decoration: none;
}
a:hover{
    opacity: 0.7;
}